* {
    box-sizing: border-box;
}
html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
}

body {
    background: #2a4b55;
    color: #c2cecf;
    padding-top: 20px;
}

.h1 {
    text-align: center;
    margin-top: 0;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
}

.chat {
    list-style: none;    
    overflow-y: scroll;
    padding: 0;
    max-height: 70vh;
}

/* хром, сафари */
.chat::-webkit-scrollbar, textarea::-webkit-scrollbar { width: 0; }

/* ie 10+ */
.chat, textarea { -ms-overflow-style: none; }

/* фф (свойство больше не работает, других способов тоже нет)*/
.chat, textarea { overflow: -moz-scrollbars-none; }

.chat li {
    margin: 12px 0;
    font-size: 19px;
}

#connection {
    color:#1fea1f;
    text-align: center;
}

.controls {
    margin-top: 30px;    
    position: relative;
}

.message {
    resize: none;
    height: auto;
    background: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 18px;
    box-shadow: 0px 1px 7px #78868a;
    margin-right: 5px;
    padding: 14px 70px 14px 14px;
    width: 100%;
}

.send {    
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 15px);
    right: 10px;
}

.send svg {
    fill: #a3bac1;
    transition: .2s;
}

.send:hover svg {
    fill: #7f99a1;
}

.message:before {
    content: '>';
}

@media (max-width: 1200px) {
    .wrapper {
        width: 90%;
    }
}